
/* refactor */


/* form list - add to component? */

.form-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.form-options {
  display: flex;
  justify-content: space-between;
}

.form-options svg {
  height: 20px;
}

/* initial */

.page-wrapper.max-w-xl {
  max-width: 70rem !important;
}

.w-63 {
  width: 69%;
}

.w-35 {
  width: 30%;
}

.text-12 {
  font-size: 12px;
}

.field-width-selector {
  margin-top: 6px;
  margin-right: 5px;
}

.form-handle {
  padding: 4px 6px;
  background-color: #e7e7e7;
  font-size: 10px;
  font-weight: 400;
  margin-left: 4px;
  border-radius: 2px;
}

.form-errors {
  padding: 12px 20px;
  background: #eb4040;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 3px;
}

.width-selector {
  display: flex;
  align-items: center;
  padding: 3px 15px;
  border: 1px solid #EEE;
  background-color: #EEE;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 600;
  margin-right: 5px;
}

.custom-background-grey {
  background-color: #F1F1F1 !important;
  border: none !important;
  padding: 10px;
}

.input-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #F1F1F1;
  height: 250px;
  border-radius: 4px;
  margin-top: 20px;
}

.input-drop p {
  font-size: 15px;
  color: #ccc;
}

.draggable {
  cursor: move;
}

.orderable {

}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #eef2f6;
  z-index: 9999;
}